<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/?serverTimezone=UTC</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">244268paparacia</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <mapping class="application.sql.entitys.work.Client"/>
        <mapping class="application.sql.entitys.work.Employee"/>
        <mapping class="application.sql.entitys.work.Payment"/>
        <mapping class="application.sql.entitys.work.PaymentArticle"/>
        <mapping class="application.sql.entitys.work.OrderStatus"/>
        <mapping class="application.sql.entitys.work.OrderStatusGroup"/>
        <mapping class="application.sql.entitys.work.Job"/>
        <mapping class="application.sql.entitys.work.JobAndMaterials"/>
        <mapping class="application.sql.entitys.work.Order"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>